<h1> <%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h1>
<h2> <%= @game.player_1.hitpoints %>/60 HP </h2>
<h2> <%= @game.player_2.hitpoints %>/60 HP </h2>
<br/>
<h2> <%= @game.turn %>'s turn </h2>
<br/>
<form action='/attack' method='get'>
  <input type="submit" value="Attack">
</form>